@model List<PJUser>
@{
    ViewData["Title"] = "PJ users list";
    // Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container py-4">
    <h1 class="">Pessoas juridicas</h1>

    <hr>

    <div class="row">

        <div class="col-12 gap-2 py-2">

            <table class="table">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Nome</th>
                        <th>Ramo</th>
                        <th>CNPJ</th>
                        <th>Able</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Email</td>
                            <td>@user.Name</td>
                            <td>@user.Ramo</td>
                            <td>@user.CNPJ</td>
                            <td>@user.Able</td>
                            <td style="white-space: nowrap;">
                                <a class="btn btn-outline-primary" asp-controller="UsersMngmt" asp-action="Edit" asp-route-id="@user.Id">Editar</a>
                                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-userid="@user.Id" data-username="@user.Name">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="deleteForm" method="post" asp-controller="UsersMngmt" asp-action="Delete">
                @Html.AntiForgeryToken()

                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteLabel">Confirmar ação delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <p>Tem certeza que deseja excluir <strong id="userNameToDelete"></strong>?</p>
                    <input type="hidden" name="id" id="userIdToDelete" />
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    var confirmDeleteModal = document.getElementById('confirmDeleteModal');

    confirmDeleteModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var userId = button.getAttribute('data-userid');
        var userName = button.getAttribute('data-username');

        var modalUserName = confirmDeleteModal.querySelector('#userNameToDelete');
        var modalUserId = confirmDeleteModal.querySelector('#userIdToDelete');

        modalUserName.textContent = userName;
        modalUserId.value = userId;
    });
</script>